<div class="pt-32">
  <div class="bg-teal-lightest border-t-4 border-teal rounded-b text-teal-darkest px-4 py-3 shadow-md" role="alert">
    <div class="flex">
      <div>
        <p class="font-bold">Views count: <%= shortened_url.views_count %></p>
      </div>
    </div>
  </div>
</div>
