<div class="pt-32">

  <div class="bg-teal-lightest border-t-4 border-teal rounded-b text-teal-darkest px-4 py-3 shadow-md mb-4" role="alert">
    <div class="flex">
      <div>
        <p class="font-bold">Shortened url</p>

        <%= link_to link_translator_url(shortened_url.unique_key), link_translator_url(shortened_url.unique_key) %>
      </div>
    </div>
  </div>

  <div class="bg-teal-lightest border-t-4 border-teal rounded-b text-teal-darkest px-4 py-3 shadow-md mb-4" role="alert">
    <div class="flex">
      <div>
        <p class="font-bold">Admin url</p>
        <%= link_to admin_url(shortened_url.access_token), admin_url(shortened_url.access_token), data: { turbolinks: false } %>
      </div>
    </div>
  </div>
</div>
